@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  /* background-color: #d5dbdb; */
  background-image: linear-gradient(to bottom right, #101a11, #035e4c, #042e33);
  /* background-image: linear-gradient(to bottom right, #f2f3f4, #ebedef, #d5dbdb); */
}
/*  Navbar  */
.navbar {
  background-color: #1c2f19;
}

/* Slider */
/* styles/ImageSlider.css */

.image-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* position: relative; */
}

.slider-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 520px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.active {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  background-color: #259210;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
/* Slider close */

/* Single card */
.single-card {
  background-image: linear-gradient(to bottom right, #042e33, #227628, #035e4c);
  padding: 50px;
  /* #042e33  #227628  #035e4c */
}

/* Button */
.button {
  background-image: linear-gradient(to bottom right, #8fde07, #227628, #259210);
  padding: 20px 15px;
  color: white;
  border: none;
}
